/* Hide the 'Published with Hugo Blox' text */
.powered-by {
  display: none !important;
}

/* Optional: Make the footer copyright look professional */
.footer-copyright {
  font-size: 0.9rem;
  opacity: 0.8;
}