{{/* Override: Event dates with full date format (Jan 2, 2006) */}}
{{ $t1 := time .Date }}
{{ $str := slice (time.Format "Jan 2, 2006" (time $t1)) }}
{{ if not .Params.all_day }}{{ $str = $str | append (time.Format site.Params.locale.time_format (time $t1)) }}{{ end }}
{{ if .Params.date_end }}
  {{ $str = $str | append "&mdash;" }}
  {{ $t2 := time .Params.date_end}}
  {{ if not (eq $t1.Year $t2.Year | and (eq $t1.Month $t2.Month) | and (eq $t1.Day $t2.Day)) }}
    {{ $str = $str | append (time.Format "Jan 2, 2006" (time $t2)) }}
  {{ end }}
  {{ if not .Params.all_day }}{{ $str = $str | append (time.Format site.Params.locale.time_format (time $t2)) }}{{ end }}
{{ end }}
{{ return ((delimit $str " ") | safeHTML) }}
